# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Datos grandes (opcional, si no quieres subir algunos CSVs muy grandes)
# *.csv